@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;

  --font-young: "Young Serif";
  --font-outfit: "Outfit";

  --font-lrg: 2.5rem;
  --font-md: 1.75rem;
  --font-sm: 1.25rem;
  --font-smaller: 1rem;

  --spacing-1600: 8rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
}


body {
  background-color: var(--stone-100);
}

main {
  display: grid;
  min-height: 100vh;
  justify-content: center;
}

.card {
  background-color: white;
}

.card__background {
  margin-bottom: var(--spacing-500);
}

.card__headline,
.card__sub_heading {
  font-family: var(--font-young), serif;
}

.card__headline {
  color: var(--stone-900);
  font-weight: 500;
  font-size: var(--font-lrg);
  line-height: 100%;
  margin-bottom: var(--spacing-300);
}

.card__paragraph {
  padding-bottom: var(--spacing-400);
  line-height: 150%;
}

.card__sub_heading {
  color: var(--brown-800);
  padding-bottom: var(--spacing-300);
  font-size: var(--font-md);
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0px var(--spacing-400);
}

hr {
  color: var(--stone-150);
  margin: 0 var(--spacing-400);
}

/* START LISTS STYLES */

.card__list_item::marker {
  color: var(--brown-800);
  font-weight: 700;
  font-family: var(--font-outfit);
}

.card__list_item::marker {
  padding-bottom: var(--spacing-100);
  font-family: var(--font-outfit);
}

.card__list {
  padding-left: var(--spacing-300);
}

.card__list_item {
  padding-left: var(--spacing-200);
  margin-bottom: var(--spacing-100);
}


/* END LISTS STYLES */


/* START Preparation section */
/* ! Rename the prep section */
.prep-time {
  background-color: var(--rose-50);
  padding: var(--spacing-300);
}

.prep-time__heading {
  line-height: 100%;
  font-size: 20px;
  font-weight:600;
  color: var(--rose-800);
  margin-bottom: 1rem;
}

.prep-time ul li::marker {
  color: var(--rose-800);
  font-size: var(--spacing-150);
}

/* .prep-time b {
  color: var(--stone-600);
} */

.text-stone-900 { color: var(--stone-600); }
/* END Preparation section */

/* START INSTRACTION SECTION */

/* END INSTRACTION SECTION */

/* START TABLE  */

table {
  border-collapse: collapse;
  margin-top: var(--spacing-300);
}

th,
td {
  font-weight: 500;
  text-align: start;
  border-bottom: 1px solid var(--stone-150);
  padding-top: var(--spacing-150);
  padding-bottom: var(--spacing-150);
}
th {
  padding-left: var(--spacing-400);
}

tr:last-child td,
tr:last-child th {
  border-bottom: 0;
}

td {
  color: var(--brown-800);
  font-weight: bold;
  padding-right: var(--spacing-400);
}

/* END TABLE  */

.card__nutrition {
  margin-bottom: var(--spacing-400);
}


/* START MEDIA SECTION */
@media only screen and (min-width: 48rem) {
  /* For desktop: */
  main {
    padding-top: var(--spacing-1600);
  }

  .card {
    border-radius: 1.5rem;
    padding: var(--spacing-500) var(--spacing-500) 0;
    max-width: 736px;
  }

  .card__background {
    border-radius: 0.75rem;
  }

  section {
    margin: 0;
  }
}
